.body{
    max-width: 1600px;
    margin: 0 auto;
}
.title{
    margin: 0 auto;
    text-align: center;
}
.button {
        position: fixed; /* фиксированное позиционирование */
        bottom: 0; 
        right: 0;
        cursor: pointer; /* при наведении меняем курсор */
        display: none; /* по умолчанию скрываем кнопку */
        font-size: 20px;
        color: rgba(0, 51, 153, 0.5);
        border: 2px solid blue;
        background-color: rgba(0, 51, 153, 0.1);
        padding: 25px 50px;
      }
/* модификатор для отображения кнопки */
.button--show {
    display: block;
  }